<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/tareas">Tareas</a>
            </li>          
            {% if user.is_authenticated %}
            <li>
                <a href="/salir">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="/singup">Crear cuenta</a>
            </li>
            <li>
                <a href="/logarse">Iniciar sesion</a>
            </li>
            {% endif %}
            


        </ul>
    </nav>

    {% block content %}
    {% endblock %}
    
</body>
</html>