{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam ipsa nobis aliquam perferendis officia, sunt consequuntur commodi dolorum ipsum dolorem rerum, ex minima aspernatur modi maiores praesentium molestias aut. Quam optio commodi debitis ipsam cupiditate accusamus aliquid inventore sequi exercitationem natus placeat amet sunt totam porro omnis minus, maxime nulla. Eum excepturi, ipsam, enim praesentium facilis ut quisquam, nemo distinctio asperiores repudiandae officiis dolorem eveniet ullam. Itaque animi maxime tempora, suscipit rem dicta quae. Quibusdam quos excepturi ad perferendis sint debitis? Officia perspiciatis eos repellat excepturi deserunt temporibus ut consectetur dolore sequi, ipsa nemo pariatur, voluptatem quo mollitia perferendis ratione!</p>
{% endblock %}